Coworking_Agent/Coworking_Agent.json
{
  "name": "Coworking Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [-64, 16],
      "id": "0604d3be-27c8-46a7-87e5-184fd1bc9aa5",
      "name": "When chat message received",
      "webhookId": "5dce2264-1212-494d-8692-f22c18f4d97a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=#Role\nYou are an assistant capable of answering frequently asked questions about the coworking space.\n\n##Tasks\n- Your main function is to respond to this message: {{ $json.chatInput }}\n- Use information from the coworking space tool when required.\n- You can check details of available events when requested.\n- You can get more user details if you ask for their email.\n- You can book events using the current date: {{ $now }}.\n\n##Notes\n- Keep responses clear and concise; do not exceed 200 characters.\n- To book, you need the MemberID and EventID from the SearchEvent and SearchMember tools.\n- Avoid asking for the user's email again if it is already in the conversation memory.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [160, 16],
      "id": "bed8e797-1c0c-4587-803b-7d565ecdaf9c",
      "name": "Coworking Assistant Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [-48, 224],
      "id": "5cb71ef6-2a93-4248-addd-aed4404c7195",
      "name": "Main Language Model"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [96, 224],
      "id": "a1211d6a-b3d3-4a59-aff6-d21b82fa44ec",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "coworking",
          "mode": "list",
          "cachedResultName": "coworking"
        },
        "options": {
          "pineconeNamespace": "coworking_namespace"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [608, 384],
      "id": "d3560b69-5328-4492-b328-7ccfb06c52fa",
      "name": "Coworking Knowledge Base"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [608, 560],
      "id": "201d8ff8-69b5-4388-a1f2-88eadd1ae61f",
      "name": "Text Embeddings Generator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [928, 384],
      "id": "597191ba-df10-46cc-8a31-2d66acc3fc9d",
      "name": "Vector Search Language Model"
    },
    {
      "parameters": {
        "name": "Coworking",
        "description": "This tool will provide you with information about the coworking space"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [752, 208],
      "id": "6d1409c6-93e0-4504-bc82-e986b57ce8a1",
      "name": "Coworking Information Tool"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Call this module to get information about the user when you have the user's email address",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "{{AIRTABLE_BASE_ID}}",
          "mode": "list",
          "cachedResultName": "Coworking",
          "cachedResultUrl": "{{AIRTABLE_BASE_URL}}"
        },
        "table": {
          "__rl": true,
          "value": "{{AIRTABLE_MEMBERS_TABLE_ID}}",
          "mode": "list",
          "cachedResultName": "Members",
          "cachedResultUrl": "{{AIRTABLE_MEMBERS_TABLE_URL}}"
        },
        "filterByFormula": "={Email} = \"{{ $fromAI(\"email\", \"the user's email address\") }}\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [176, 400],
      "id": "cdca4a61-7458-475a-8b7d-9ddfe6dbd6b6",
      "name": "Search Member Tool"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Call this module to find information about events according to the event type",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "{{AIRTABLE_BASE_ID}}",
          "mode": "list",
          "cachedResultName": "Coworking",
          "cachedResultUrl": "{{AIRTABLE_BASE_URL}}"
        },
        "table": {
          "__rl": true,
          "value": "{{AIRTABLE_EVENTS_TABLE_ID}}",
          "mode": "list",
          "cachedResultName": "Events",
          "cachedResultUrl": "{{AIRTABLE_EVENTS_TABLE_URL}}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [384, 400],
      "id": "7a2706c8-6027-408f-aa34-31a4800e906a",
      "name": "Search Event Tool"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "ONLY call this tool when you have the event ID and member ID. This will add the member to the event.",
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "{{AIRTABLE_BASE_ID}}",
          "mode": "list",
          "cachedResultName": "Coworking",
          "cachedResultUrl": "{{AIRTABLE_BASE_URL}}"
        },
        "table": {
          "__rl": true,
          "value": "{{AIRTABLE_EVENTS_TABLE_ID}}",
          "mode": "list",
          "cachedResultName": "Events",
          "cachedResultUrl": "{{AIRTABLE_EVENTS_TABLE_URL}}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $fromAI('event_record_id', 'The ID of the event to update') }}",
            "Members": "={{ [$fromAI('user_record_id', 'The user ID')] }}"
          },
          "matchingColumns": ["id"],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "EventName",
              "displayName": "EventName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "EventTime",
              "displayName": "EventTime",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Members",
              "displayName": "Members",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [480, 224],
      "id": "21755e71-cdab-4f95-b9fb-813418fbbbd4",
      "name": "Book Event Tool"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Coworking Assistant Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Language Model": {
      "ai_languageModel": [
        [
          {
            "node": "Coworking Assistant Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Coworking Assistant Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Coworking Knowledge Base": {
      "ai_vectorStore": [
        [
          {
            "node": "Coworking Information Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Text Embeddings Generator": {
      "ai_embedding": [
        [
          {
            "node": "Coworking Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector Search Language Model": {
      "ai_languageModel": [
        [
          {
            "node": "Coworking Information Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Coworking Information Tool": {
      "ai_tool": [
        [
          {
            "node": "Coworking Assistant Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Member Tool": {
      "ai_tool": [
        [
          {
            "node": "Coworking Assistant Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Event Tool": {
      "ai_tool": [
        [
          {
            "node": "Coworking Assistant Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Book Event Tool": {
      "ai_tool": [
        [
          {
            "node": "Coworking Assistant Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "65bca621-8902-4889-8f6f-009ff4e8680d",
  "meta": {
    "instanceId": "d7abe58770666f096492ee7bcf596997304d49d748202388b6e4d2f59b0d3a1a"
  },
  "id": "LR5Hyuz7XEVksqcs",
  "tags": []
}
