Ecommerce_Agent/Ecommerce_Agent.json
{
  "name": "Ecommerce Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [112, -112],
      "id": "7b394293-b07f-4b0f-b63b-6ddfed162280",
      "name": "When chat message received",
      "webhookId": "11e33d45-dc7b-4564-be24-235141dda903"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=#Role\nYou are an assistant capable of answering user questions based on information about the Ecommerce.\n\n#Tasks\n- Your main function is to respond to this message: {{ $json.chatInput }}\n\n- Use information from the ProductList tool for queries about Ecommerce products.\n\n- Use information from the EcommerceDocuments tool for any query related to Ecommerce operations or policies.\n\n#Notes\n- Your answers must be clear and concise, and should not exceed 200 characters.\n- If the customer decides to buy the product, you can send them the link to pay. The link is (link) and must always be in a hyperlink.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [336, -112],
      "id": "c6941d89-2afd-494c-ac99-8b57d86b4a7d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [160, 96],
      "id": "057f80b2-2dcb-42d8-8067-196753d72a94",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [336, 96],
      "id": "4e84b7f4-2e2f-4ac0-8019-daa9f975d646",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [1008, 272],
      "id": "bb1b541a-cb66-4dcb-a0f1-009d63bdc7de",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "ecom",
          "mode": "list",
          "cachedResultName": "ecommerce"
        },
        "options": {
          "pineconeNamespace": "name_ecommerce"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [656, 272],
      "id": "676ad6cf-01fd-4547-be08-0043e24e7151",
      "name": "Pinecone Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [656, 448],
      "id": "f8532ada-aba7-48f3-98b9-0fc0da42c3b9",
      "name": "Embeddings OpenAI"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QLxvOldIuIGnBgm8ZbHNpTid-ercBp-hmPZ3zWH0_Sg",
          "mode": "list",
          "cachedResultName": "Products",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QLxvOldIuIGnBgm8ZbHNpTid-ercBp-hmPZ3zWH0_Sg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QLxvOldIuIGnBgm8ZbHNpTid-ercBp-hmPZ3zWH0_Sg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [560, 96],
      "id": "943557d7-a18d-448f-81b0-946ffc0c303f",
      "name": "ProductList"
    },
    {
      "parameters": {
        "name": "Ecommerce",
        "description": "This tool provides information about Ecommerce operations and policies."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [816, 80],
      "id": "be3a85c5-6870-45a0-92c2-2673267037f5",
      "name": "EcommerceDocuments"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "EcommerceDocuments",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "EcommerceDocuments",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "ProductList": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "EcommerceDocuments": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e00a6a14-fcd7-4871-8f26-7d2c220f28f3",
  "meta": {
    "instanceId": "d7abe58770666f096492ee7bcf596997304d49d748202388b6e4d2f59b0d3a1a"
  },
  "id": "JhuYCbzB4OykXU71",
  "tags": []
}
