Ecommerce_Agent/Ecommerce_Upload.json
{
  "name": "Ecommerce Upload",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "13ZTOUXHRM9-OsRu7dPGQrSJTc748kTcA",
          "mode": "list",
          "cachedResultName": "Documents",
          "cachedResultUrl": "https://drive.google.com/drive/folders/13ZTOUXHRM9-OsRu7dPGQrSJTc748kTcA"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [192, -32],
      "id": "b6ed2cae-fbcd-456c-a297-d9c40d821ef9",
      "name": "Google Drive Trigger"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.webViewLink }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [432, -32],
      "id": "120c90e4-f97e-4415-940d-7dc5f08dc6f5",
      "name": "Google Drive"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ecom",
          "mode": "list",
          "cachedResultName": "ecommerce"
        },
        "options": {
          "pineconeNamespace": "name_ecommerce"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [672, -32],
      "id": "b481c012-268e-421a-9250-5bfcab968f75",
      "name": "Pinecone Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [512, 176],
      "id": "4b0ec044-1210-48df-b858-db22a83f5274",
      "name": "Embeddings OpenAI"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "data",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [816, 176],
      "id": "85c39b6c-96c4-4235-95aa-f4378860291c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 20
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [816, 352],
      "id": "4f27ebab-574c-4fdc-8d7f-86ff3ffb31a5",
      "name": "Token Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fd218f70-eba1-41cb-8471-7aa606df1920",
  "meta": {
    "instanceId": "d7abe58770666f096492ee7bcf596997304d49d748202388b6e4d2f59b0d3a1a"
  },
  "id": "cuTSte5qsuG9715m",
  "tags": []
}
